
.form_input{
    font-family: 'Roboto', sans-serif;
    color: rgb(252, 248, 248);
    font-size:20px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
 
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    background-color: rgb(105, 124, 151);
    padding: center;
}
.form_input:hover{

  box-shadow: inset blueviolet;
   transform: scale(1.05);
}


